@import '../../styles/constants/breakpoints.scss';

.movieDetailsContainer {
    width: 100%;

    span {
        font-size: 18px;
    }
    
    .detailsContainer {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .favoriteButton {
            width: 200px;
            height: 50px;
            font-size: 16px ;
            margin-top: 1rem;
        }

        .ratingIndicator {
            margin-left: 1rems;
        }
    }

    .posterContainer {
        @media screen and (max-width: $breakpoint-md) {
            display: none;
        }
    }
}
