.pageContainer {
    display: flex;
    flex: 1;

    .content {
        display: flex;
        flex-direction: column;

        width: 100%;
        max-width: 72rem;
        height: 100%;
        margin: auto;
        padding: 2rem;
        align-items: center;
        
        .pageTitle {
            text-align: center;
        }

        .pageDescription {
            text-align: center;
            width: 100%;
            max-width: 36rem;
            margin-top: 1rem;
        }

        .movieSearchBar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 2rem;
            width: 70%;

            .movieTitleInput {
                width: 100%;
                margin-right: 2rem;
            }

            .movieButtonContainer {
                .searchButton {
                    width: 120px;
                }

                .resetButton {
                    width: 90px;
                }
            }
        }
    }
}