.footer {
    background-color: var(--sapBackgroundColor);
    box-shadow: var(--sapContent_FooterShadow);
    padding: 1.5rem 1rem;
  
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 72rem;
      margin: auto;
    }
  }
  